Repository shopwareBoostDay/platform, pull requests merged in 2020-09, with the labels that each got.

#138 NEXT-10848 - Pass all non-defined attributes as props in sw-button
  changelog/_unreleased/2020-09-17-pass-all-non-defined-attributes-as-props-in-sw-button.md
  src/Administration/Resources/app/administration/src/app/component/base/sw-button/sw-button.html.twig
  src/Administration/Resources/app/administration/test/app/component/base/sw-button.spec.js
Labels: Administration

#140 NEXT-9166 - Fix long category names overflowing their boundaries
  changelog/_unreleased/2020-09-17-fix-category-name-overflow.md
  src/Administration/Resources/app/administration/src/app/component/tree/sw-tree-item/sw-tree-item.scss
  src/Administration/Resources/app/administration/src/app/component/tree/sw-tree/sw-tree.scss
Labels: Administration

#135 NEXT-10918 - Add entity repository autowiring
  changelog/_unreleased/2020-09-17-add-support-for-repository-autowiring.md
  src/Core/Framework/DependencyInjection/CompilerPass/EntityCompilerPass.php
  src/Core/Framework/Test/DependencyInjection/CompilerPass/EntityCompilerPassTest.php
  src/Docs/Resources/current/20-developer-guide/50-database.md
Labels: Core

#146 NEXT-7962 - Add label to shipping method detail fixes #73
  changelog/_unreleased/2020-09-17-add-label-to-availabitlity-rule-in-shipping-method-detail.md
  src/Administration/Resources/app/administration/src/module/sw-settings-shipping/page/sw-settings-shipping-detail/sw-settings-shipping-detail.html.twig
Labels: Administration

#152 NEXT-10854 support custom cache folders
  changelog/_unreleased/2020-09-17-support-custom-cache-folders.md
  src/Core/Framework/DependencyInjection/plugin.xml
  src/Core/Framework/Plugin/BundleConfigDumper.php
  src/Storefront/DependencyInjection/theme.xml
  src/Storefront/Test/Theme/Command/ThemeDumpCommandTest.php
  src/Storefront/Theme/Command/ThemeDumpCommand.php
Labels: Core, Incomplete

#145 [NEXT-9716] Split sortBy to support multiple properties
  changelog/_unreleased/2020-09-17-fix-order-listing-sort-by-customer-name.md
  src/Administration/Resources/app/administration/src/module/sw-order/page/sw-order-list/index.js
Labels: Administration

#144 NEXT-9023 - Fix ListingPage pagination arrows always visible #44
  changelog/_unreleased/2020-09-17-fix-listingpage-pagination-arrows-always-visible.md
  src/Storefront/Resources/views/storefront/component/pagination.html.twig
Labels: Storefront

#155 Next 10041/fix datepicker icon
  changelog/_unreleased/2020-09-17-fixed-style-for-datepicker-icon.md
  src/Administration/Resources/app/administration/src/app/component/form/field-base/sw-contextual-field/sw-contextual-field.scss
Labels: Accepted, Administration

#148 NEXT-8145 - minify compiled CSS fixes #65
  changelog/_unreleased/2020-09-17-minify-css.md
  src/Storefront/Theme/Autoprefixer.php
  src/Storefront/Theme/ThemeCompiler.php
Labels: Core, Incomplete

#168 NEXT-9410 - Add noopener and noreferrer tags to manufacturer link
  src/Storefront/Resources/views/storefront/page/product-detail/headline.html.twig
Labels: Incomplete

#157 NEXT-10857 - Directly open product on search by product number
  changelog/_unreleased/2020-09-17-directly-open-product-on-search-by-product-number.md
  src/Storefront/Controller/SearchController.php
Labels: Incomplete, Storefront

#163 NEXT-9188 - Add empty state to sw-property-search result list
  changelog/_unreleased/2020-09-17-add-empty-state-to-sw-property-search-result-list.md
  src/Administration/Resources/app/administration/src/app/component/base/sw-property-search/sw-property-search.html.twig
  src/Administration/Resources/app/administration/src/app/snippet/de-DE.json
  src/Administration/Resources/app/administration/src/app/snippet/en-GB.json
Labels: Administration

#164 NEXT-10855 - Add ability to search by Custom Fields in Admin Backend
  changelog/_unreleased/2020-09-17-add-ability-to-search-by-custom-field-in-administration-backend.md
  src/Core/Checkout/Customer/CustomerDefinition.php
  src/Core/Content/Product/Aggregate/ProductManufacturer/ProductManufacturerDefinition.php
  src/Core/Content/Product/ProductDefinition.php
Labels: Core, Incomplete

#162 NEXT-8309 - Add address to customer selection
  changelog/_unreleased/2020-09-17-add-address-to-customer-selection-in-add-order.md
  src/Administration/Resources/app/administration/src/module/sw-order/component/sw-order-create-details-header/index.js
  src/Administration/Resources/app/administration/src/module/sw-order/component/sw-order-create-details-header/sw-order-create-details-header.html.twig
  src/Administration/Resources/app/administration/src/module/sw-order/page/sw-order-create/sw-order-create.scss
Labels: Administration

#165 NEXT-10847 - Add basic management of scheduled tasks
  changelog/_unreleased/2020-09-17-add-basic-scheduled-task-management-in-administration.md
  src/Administration/Resources/app/administration/src/app/snippet/de-DE.json
  src/Administration/Resources/app/administration/src/app/snippet/en-GB.json
  src/Administration/Resources/app/administration/src/core/service/api/scheduled-task.api.service.js
  src/Administration/Resources/app/administration/src/module/sw-settings-scheduled-task/acl/index.js
  src/Administration/Resources/app/administration/src/module/sw-settings-scheduled-task/index.js
  src/Administration/Resources/app/administration/src/module/sw-settings-scheduled-task/page/sw-settings-scheduled-task-list/index.js
  src/Administration/Resources/app/administration/src/module/sw-settings-scheduled-task/page/sw-settings-scheduled-task-list/sw-settings-scheduled-task-list.html.twig
  src/Administration/Resources/app/administration/src/module/sw-settings-scheduled-task/page/sw-settings-scheduled-task-list/sw-settings-scheduled-task-list.scss
  src/Administration/Resources/app/administration/src/module/sw-settings-scheduled-task/snippet/de-DE.json
  src/Administration/Resources/app/administration/src/module/sw-settings-scheduled-task/snippet/en-GB.json
  src/Core/Framework/DependencyInjection/scheduled-task.xml
  src/Core/Framework/MessageQueue/ScheduledTask/Api/ScheduledTaskController.php
  src/Core/Framework/MessageQueue/ScheduledTask/Exception/ScheduledTaskNotFoundException.php
  src/Core/Framework/MessageQueue/ScheduledTask/ScheduledTaskService.php
Labels: Administration, Core

#142 NEXT-9021 - Add autoscroll to listing
  changelog/_unreleased/2020-09-17-add-autoscroll-to-listing.md
  src/Storefront/Resources/app/storefront/src/plugin/listing/listing.plugin.js
  src/Storefront/Resources/app/storefront/test/plugin/listing/listing.plugin.test.js
Labels: Storefront

#177 NEXT-9121 - Redirect Maintenance
  changelog/_unreleased/2020-09-17-maintenance-forward.md
  src/Storefront/Controller/MaintenanceController.php
  src/Storefront/DependencyInjection/controller.xml
  src/Storefront/Framework/Routing/MaintenanceModeResolver.php
  src/Storefront/Framework/Routing/StorefrontSubscriber.php
  src/Storefront/Resources/views/storefront/page/error/error-maintenance.html.twig
Labels: Core, Storefront

#173 NEXT-9105 - Discount: Wrong payment snippet in checkout
  src/Core/Checkout/Promotion/Cart/Error/PromotionNotEligibleError.php
  src/Core/Checkout/Promotion/Cart/PromotionCartAddedInformationError.php
  src/Core/Checkout/Promotion/Cart/PromotionCartDeletedInformationError.php
  src/Storefront/Resources/views/storefront/component/checkout/cart-alerts.html.twig
Labels: Core, Storefront

#153 NEXT-10928 - Optimise requests in `LocaleToLanguageService`
  changelog/_unreleased/2020-09-17-optimise-requests-in-localetolanguageservice.md
  src/Administration/Resources/app/administration/src/app/service/locale-to-language.service.js
Labels: Administration

#160 NEXT-8426 - Save user settings in listing views
  changelog/_unreleased/2020-09-17-save-user-settings-in-listing-views.md
  src/Administration/Resources/app/administration/src/app/component/data-grid/sw-data-grid/index.js
Labels: Administration

#176 NEXT-9322 - check that min purchase does not exceed max purchase
  changelog/_unreleased/2020-09-17-validate-min-max-purchase-quantity.md
  src/Administration/Resources/app/administration/src/module/sw-product/page/sw-product-detail/index.js
  src/Administration/Resources/app/administration/src/module/sw-product/snippet/de-DE.json
  src/Administration/Resources/app/administration/src/module/sw-product/snippet/en-GB.json
Labels: Administration, Incomplete

#174 NEXT-9360 - add missing order delivery state transitions
  changelog/_unreleased/2020-09-17-add-missing-order-delivery-state-transitions.md
  src/Core/Migration/Migration1600349343AddDeliveryStateTransitions.php
Labels: Core

#170 [NEXT-9189] Set email type for customer email-address
  changelog/_unreleased/2020-09-17-change-the-customer-email-type.md
  src/Administration/Resources/app/administration/src/app/component/form/sw-email-field/index.js
  src/Administration/Resources/app/administration/src/app/component/form/sw-email-field/sw-email-field.html.twig
  src/Administration/Resources/app/administration/src/app/component/form/sw-field/index.js
  src/Administration/Resources/app/administration/src/app/component/form/sw-text-field/index.js
  src/Administration/Resources/app/administration/src/module/sw-customer/component/sw-customer-base-form/index.js
  src/Administration/Resources/app/administration/src/module/sw-customer/component/sw-customer-base-form/sw-customer-base-form.html.twig
  src/Administration/Resources/app/administration/src/module/sw-customer/component/sw-customer-card/index.js
  src/Administration/Resources/app/administration/src/module/sw-customer/component/sw-customer-card/sw-customer-card.html.twig
  src/Administration/Resources/app/administration/src/module/sw-customer/error-config.json
  src/Administration/Resources/app/administration/src/module/sw-customer/page/sw-customer-detail/error-config.json
  src/Administration/Resources/app/administration/src/module/sw-customer/page/sw-customer-detail/index.js
  src/Administration/Resources/app/administration/src/module/sw-customer/snippet/de-DE.json
  src/Core/Checkout/Customer/CustomerDefinition.php
  src/Core/Checkout/Test/Cart/SalesChannel/SalesChannelCheckoutControllerTest.php
  src/Core/Checkout/Test/Customer/Repository/CustomerRepositoryTest.php
  src/Core/Framework/Test/DataAbstractionLayer/Reader/EntityReaderTest.php
Labels: Administration, Core, Incomplete

#156 NEXT-9202 - Add keyboard shortcuts for reviews
  changelog/_unreleased/2020-09-17-add-keyboard-shortcuts-for-reviews.md
  src/Administration/Resources/app/administration/src/module/sw-review/page/sw-review-detail/index.js
  src/Administration/Resources/app/administration/src/module/sw-review/page/sw-review-detail/sw-review-detail.html.twig
Labels: Administration, Incomplete
